[user]
	name = Bastian Venthur
	email = venthur@debian.org

[alias]
        graph = log --graph --oneline --all --simplify-by-decoration
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictStyle = diff3
[mergetool]
	prompt = false
[pull]
	rebase = false
[commit]
	verbose = true
[branch]
        sort = -authordate
